@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FinancialTracker.Client.Models.Dto.UserProfileDTO

<div class="card shadow mb-5 mt-4">
    <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Profile</h2>
    </div>
    <div class="card-body p-4">
        <form asp-action="EditProfile" method="post">
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label fw-bold"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter your first name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Surname" class="form-label fw-bold"></label>
                <input asp-for="Surname" class="form-control" placeholder="Enter your last name" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label fw-bold"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="form-label fw-bold"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Enter your phone number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Save Changes
                </button>
            </div>
        </form>
    </div>
</div>
